<!-- your html code here -->
<div class="container-fluid border border-5 border-danger bg-light d-flex justify-content-center m-0">
    <div class="mx-5">
        <div class="row mx-5">
            <div class="col-12">
                <h2>Contact</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro accusantium voluptates similique
                    rerum commodi vitae esse alias repellendus, aut delectus, doloremque, molestiae eveniet consequuntur
                    explicabo.</p>
            </div>
        </div>
        <div class="row">
            <div>
                <form>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-1 col-form-label">Email</label>
                        <div class="col-sm-11">
                            <input type="email" class="form-control" id="inputEmail3">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-1 col-form-label">Password</label>
                        <div class="col-sm-11">
                            <input type="password" class="form-control" id="inputPassword3">
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>